{% extends 'shop/base.html' %}

{% block title %}
  Новый конфиг
{% endblock %}

{% block body %}
 <h2>Добавить новый конфиг</h2>
 <form method="post">
   {% csrf_token %}
   {{ form.as_p }}

   <input class="btn btn-primary" type="submit" value="Create" >
 </form>
{% endblock %}