{% extends 'shop/base.html' %}

{% block title %}
  TSM Shop
{% endblock %}

{% block body %}
  <div>
      <h1>Products</h1>
      <ul>
          {% for product in products %}
          <li><a href="{% url "shop:product" pk=product.pk %}">{{product.name}}</a>
              <code> - {{product.price}}</code>
              - [{{ product.added }}]
          </li>
          {% endfor %}
      </ul>
  </div>
  <div>
    <ul>
      <li>
       <a href="{% url "shop:new_products" %}">Добавить новый конфиг</a>
      </li>

      <li>
       <a href="{% url "shop:index" %}">Назад на главную</a>
      </li>
    </ul>
  </div>
{% endblock %}

