{% extends 'shop/base.html' %}

{% block title %}
  Конфиг #{{ product.pk }}
{% endblock %}

{% block body %}
 <h1>Подробнее о конфиге #{{ product.pk }}</h1>
 <h2><code>{{ product.name }}</code></h2>
 <h3>Описание</h3>
 <p>{{ product.description }}</p>

 <div>
     <a href="{% url 'shop:products' %}">Назад к списку продуктов</a>
 </div>
{% endblock %}
