{% extends 'blog/base.html' %}

{% block title %}
  TSM Blog Index
{% endblock %}

{% block body %}
  <div>
      <h1>TSM Blog</h1>
      <h3>Posts</h3>
      <ul>
          {% for post in posts %}
          <li>{{ post.title }}
              <code> - {{post.published_date}}</code>
          </li>
          {% endfor %}
      </ul>
  </div>
{% endblock %}