{% extends 'base.html' %}

{% block title %}
  Products list
{% endblock %}

{% from 'macros/show-flashed-messages.html' import show_flashed_messages_with_categories %}

{% block body %}
  <h2>Products list</h2>

  {{ show_flashed_messages_with_categories() }}

  {% if products %}
    <h3>Products:</h3>
    <ul class="list-group">
      {% for product in products %}
        <li class="list-group-item p-0">
          <a class="btn btn-link w-100 text-start text-decoration-none"
             href="{{ url_for('products_app.details', product_id=product.id) }}">
            {{ product.name }}
          </a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <h3>No products yet.</h3>
  {% endif %}

  <div class="my-3">
    <a
      class="no-underline"
      href="{{ url_for('products_app.add') }}">Add new</a>
  </div>

{% endblock %}
