<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Title{% endblock %}</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  {% block head %}
  {% endblock %}

</head>

<body>

<nav class="navbar navbar-expand-sm bg-body-tertiary my-0 my-md-1">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">TSM-Shop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-sm-0">
        {% for endpoint, label in [
          ('products_app.list', 'Products'),
        ] %}

          <li class="nav-item">
            <a
              class="nav-link
              {% if endpoint == request.endpoint %}
                active
              {% endif %}
              "
              href="{{ url_for(endpoint) }}">{{ label }}
            </a>
          </li>
        {% endfor %}
      <ul class="navbar-nav me-auto mb-2 mb-sm-0">
        {% for endpoint, label in [
          ('products_app.add', 'Products add'),
        ] %}

          <li class="nav-item">
            <a
              class="nav-link
              {% if endpoint == request.endpoint %}
                active
              {% endif %}
              "
              href="{{ url_for(endpoint) }}">{{ label }}
            </a>
          </li>
        {% endfor %}


      </ul>
    </div>
  </div>
</nav>
<div class="container">

  {% block body %}
    Base body
  {% endblock %}
</div>

<div class="mt-md-3">
</div>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>
