{% extends 'base.html' %}

{% block title %}
  Index page
{% endblock %}

{% block head %}
  <style>
    /* CSS - cascade style sheets */
    /*
    html {
      font-size: 22pt;
    }
     */
  </style>
{% endblock %}

{% block body %}
  <p class="h2">Welcome to TOP-MEGA-SUPER-SHOP!</p>



  <p class="h4">Links:</p>
  <ul>
    <li>
      <a href="{{ url_for('products_app.list') }}">Products</a>
    </li>
    <li>
      <a href="{{ url_for('products_app.add') }}">Products add</a>
    </li>
  </ul>
{% endblock %}