<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}
    Base
    {% endblock %}</title>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>
<body>
<nav class="mb-2 px-3 navbar navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'shop:index' %}">На главную</a>
    <div>
      {% if user.is_authenticated %}
        <a href="{% url 'site_auth:about-me' %}">{{ user.username }}</a>
        <a href="{% url 'site_auth:logout' %}">Logout</a>
      {% else %}
        <a
          class="btn btn-outline-primary"
          href="{% url 'site_auth:login' %}">
          Login
        </a>
      {% endif %}
    </div>
</nav>
  <div class="container">
{% block body %}

{% endblock %}
  </div>
</body>
</html>