{% extends 'shop/base.html' %}

{% block title %}
  TSM Shop Index
{% endblock %}

{% block body %}
  <h1>TopSuperMega Shop</h1>

  <div>
    <p>Links:</p>
    <ul>
      <li>
        <a href="{% url 'shop:products' %}">Получить конфиг</a>
      </li>
    </ul>
  </div>
{% endblock %}